<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign in</title>
    <style>
      body {
        font-family: sans-serif;
      }
      h2 {
        text-align: center;
        font-size: 2em;
      }
      p {
        font-size: 1.5em;
        font-weight: bold;
        width: 80%;
        padding: 10px;
        margin: 10px auto;
        background-color: #8b8a8c;
      }
      p a {
        color: #fff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h2>Social Login Web</h2>

    <p><a href="/oauth2/authorization/google">Google</a></p>
    <p><a href="/oauth2/authorization/linkedin">LinkedIn</a></p>

  </body>
</html>
